@import '../../variables.scss';

.listItem {
  cursor: pointer;

  &Content {
    margin-left: 3rem;
    padding: .8rem 0;
    border-bottom: $border-gray;
  }

  & a {
    display: block;
    text-decoration: none;
    color: $color-black;
    transition: all .2s;
    &:hover {
      background-color: #e0e0de;
    }
  }

  &Active {
    background-color: #e0e0de;
  }

  & span {
    margin-right: 1rem;
  }
}