// Fonts
$font-primary: 'Roboto', sans-serif;

//Color
$color-primary: #d6d6d6;
$color-primary-light: #e0e0de;
$color-primary-dark: #b8b8b6;
$color-white: #fff;
$color-black: #424242;

//Borders
$border-gray: 1px solid $color-primary;

//Breakpoints

